<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find track_robot_hw)/urdf/track_robot.urdf.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find track_robot_hw)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --check-order $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- todo make arg if clause -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
