<?xml version="1.0"?>
<launch>

  <!--robot model-->
  <include file="$(find track_robot_description)/launch/robot.launch" ns="track_robot_hw" />

  <!--controller config-->
  <rosparam file="$(find track_robot_hw)/config/controllers.yaml" command="load" ns="track_robot_hw"/>
  <rosparam file="$(find track_robot_hw)/config/hardware.yaml" command="load" ns="track_robot_hw" />

  <node name="track_robot_hw" pkg="track_robot_hw" type="track_robot_hw_node" output="screen" />

  <node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="track_robot_hw"
      args="
        controller/state
  "/>

  <node name="diff_drive_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="track_robot_hw"
      args="
        controller/diff_drive
  "/>

  <!--controller ui-->
<!--  <node name="rqt_twist_controller" pkg="rqt_robot_steering" type="rqt_robot_steering" ns="track_robot_hw" />-->

</launch>
